<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Expo Spring 2014</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Expo Spring 2014">
	<meta name="author" content="Team Drop Tables">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src='http://seelio.com/js/embed/jquery.seelio-embed.js'></script>
	<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
	<script src="{{ url_for('static', filename='js/seelio.js') }}"/></script>
	<script src="{{ url_for('static', filename='js/tips.js') }}"/></script>

	<link rel="shortcut icon" href="../favicon.ico"/> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
	<script src="js/modernizr.custom.js"></script>
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/uisearch.js') }}"></script>
	<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"/></script>
	<script src="{{ url_for('static', filename='js/map.js') }}"/></script>
	<script src="{{ url_for('static', filename='js/index.js') }}"/></script>
	<!--Temporarily here for testing-->
	<script type="text/javascript">
	function searchForm(){
		var searchtext= document.getElementById("searchText").value;
		window.location= "/search/"+encodeURIComponent(searchtext);
	}
	</script>
	<!--Temporarily here for testing-->
	<script type="text/javascript">
	function thankContact(x){
		// window.location = '#successModal';
		$('#myModal').modal('hide');
		$(x).modal('show');
	}
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery.contenthover.js') }}"/></script>
	<script>
		$(function(){
			$("#logo").contenthover({
			    overlay_width:300,
			    overlay_height:50,
			    effect:'fade',
			    overlay_x_position:'right',
			    overlay_y_position:'center',
			    overlay_opacity:0.8
			});
		});
	</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49912605-1', 'gatech.edu');
  ga('send', 'pageview');

</script>
	<style>
	.contenthover { padding:20px 20px 10px 20px; }
	.contenthover, .contenthover h3, contenthover a { color:#fff; }
	.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
	.contenthover a.mybutton { display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
	.contenthover a.mybutton:hover { background:#34742d }
	</style>
</head>
<!-- Here we do a special block for the index page because it doesn't have the nested container boxes that all other pages do.-->
{% if pageName == "Index" %}
	{% block indexBlock %}
	{% endblock %}
{% else %}
	{% if pageName == "Expo Map" %}
	<body onload="loadMap();">
	{% elif pageName=="Tips" %}
	<body onload="$('#divTips').accordion({collapsible: true, active: false}); populateTips();">
	{% else %}
	<body>
	{% endif %}
		<div id="logo"><p><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/GT_logo.png') }}" class="gtlogo" id="logo" /></a>
<font color = "white">Admin</font></p></div>

<div class="contenthover">
	<p><a href="#" class="mybutton">Click to upload new picture</a></p>
</div>
		<div class="alert alert-danger" id="ExpoAlert"><strong>Alert!</strong> Due to the rain the expo will follow the rain map.</div>
		<div id="content">
			<div class="container">
				<div class="main clearfix">
				<div class="column">
					{% if pageName == "Project Details" %}
					<button type="button" class="button" onclick="location.href='javascript:history.back()'">Back</button>
					<span id="reds">{{ submission.projectName }}</span>
					{% elif pageName == "Projects" %}

					<button type="button" class="button" onclick="location.href='javascript:history.back()'">Back</button>
					<span id="reds">{{ pageName }}</span>
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Search by team, project, major, table#, sponsor, etc." type="text" value="" name="search" id="searchText">
							<input class="sb-search-submit" type="submit" value="" onclick="searchForm();return false;">
							<span class="sb-icon-search"></span>
						</form>
					</div>
					{% elif pageName == "Search Results" %}
					<button type="button" class="button" onclick="location.href='javascript:history.back()'">Back</button>
					<span id="reds">{{ searchTitle }}</span>
					{% else %}
					<button type="button" class="button" onclick="location.href='javascript:history.back()'">Back</button>
					<span id="reds">{{ pageName }}</span>
					{% endif %} 
					
					
				</div>
			</div>
			<script>
			new UISearch( document.getElementById( 'sb-search' ) );
			</script>
				{% block container %}
				{% endblock %}
			</div><!-- /.container -->	 
			{% block content %}
			{% endblock %}
		</div>
		{% endif %}
		<hr></hr>
		<!-- Button trigger modal -->
		<button id="contactButton" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Contact Us</button>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Contact Us</h4>
						<!--TEMPORARY-->
						<!--<h4 style="color:red;">Under construction! Please contact capstone@gatech.edu for any questions/comments!</h4>-->
					</div>
					<div class="modal-body">
						<form action="{{ url_for('index') }}" method=post>
						{{ emailForm.csrf_token }}
      					Name: <br>{{ emailForm.name }}<br>
      					Email: <br>{{ emailForm.email }}<br>
        				Message:<br> {{ emailForm.message }}<br>
        				Interested in giving feedback? Please fill out <a href="https://docs.google.com/forms/d/1l6kaRSpwP1Dowm6nTmSxeB49ao8he_Jc7JgDoEIn6eI/viewform" target="_blank"> this form.</a>
        				<div class="modal-footer">
							<button id="closeButton" type="button" data-dismiss="modal">Close</button>
							<div onclick="thankContact('#successModal');">{{ emailForm.send }}</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--Success modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel2">Thanks for contacting GTExpo!</h4>
						
					</div>
					<div class="modal-body">
					<p>You will receive a response shortly.</p>
      				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<p class="copyright">Created by <a href="/projectdetails/submission001">Team Drop Tables</a><br/> Copyright © 2014 | <a href="https://docs.google.com/forms/d/1l6kaRSpwP1Dowm6nTmSxeB49ao8he_Jc7JgDoEIn6eI/viewform" target="_blank">Feedback</a></p>
		<br>
		<br>
	</body>
</html>
