{% extends "layout.html" %}
{% block content %}
    <div>
	                <div style="background: #f5f2f0; float:right">
	                  <p>
	                    <label>
	                        <code>Tools/Objects</code>
	                    </label>
	                  </p>
                      <p>
                        <code>Add Image...</code>  
                        <input type="file" id="use-image" name="image" value="useImage">
                        </input> 
                      </p>
                      <p>
                        <button type="button" id="draw-table" name="table" value="drawTable">
                            <code>Add Table</code>    
                        </button> 
                        Table #: <input type="text" id="tableNumber" name="tableNumber">
                      </p>
                      <p>
                        <button type="button" id="reset" name="Reset" value="reset">
                            <code>Reset</code>    
                        </button> 
                      </p>
                      <p>
                        <button type="button" id="save" name="Save" value="save">
                            <code>Save</code>    
                        </button> 
                      </p>
                      <p>
                        <button type="button" id="load" name="Load" value="load">
                            <code>Load</code>    
                        </button> 
                      </p>
                       <p>
                        <code>Background Image...</code>  
                        <input type="file" id="bg-image" name="bgImage" value="bgImage">
                        </input> 
                      </p>
                      <p>
                        <button type="button" id="move-back"name="MoveBack" value="back">
                            <code>Move Selected Object back</code>    
                        </button> 
                      </p>
                      <p>
                        <button type="button" id="move-forward" name="MoveForward" value="front">
                            <code>Move Selected Object to Front</code>    
                        </button> 
                      </p>
                      <p>
                        <label>
                          <input id="NormalMap" type="checkbox" checked>
                          <code>Normal Map</code>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input id="RainMap" type="checkbox">
                          <code>Rain Map</code>
                        </label>
                      </p>
                    </div>

                    <div id="canvasDiv" style="width: 500px; height: 400px; position: relative;">
	                   <canvas id="canvas" width="500" height="400" style="border:1px solid #000000; float=left;"></canvas>
	                </div>
	                
	                
                    <script id="main">(function(){
                        var canvas = new fabric.Canvas('canvas');
                        
                        document.onkeydown = onKeyDownHandler;
                        
                        function onKeyDownHandler(event){
                            var key;
                            if(window.event){
                                key = window.event.keyCode;
                            }
                            else{
                                key = event.keyCode;
                            }
                            
                            if(key == 46 || 8){
                                canvas.remove(canvas.getActiveObject());
                            }
                        }
                        
                        var Table = fabric.util.createClass(fabric.IText, {
                        
                            type: 'Table',
                            
                            initialize: function(options) {
                                options || (options = { });
                                this.callSuper('initialize',options);
                            },
                
                            _render: function(ctx) {
                                this.callSuper('_render',ctx);
                                ctx.rect(-this.width/2, -this.height/2, this.width, this.height);
                                ctx.stroke();
                            }
                        
                        });
                        
                        canvas.selectionColor = 'rgba(0,255,0,0.3)';
                        canvas.selectionBorderColor = 'red';
                        canvas.selectionLineWidth = 5;
                        
                        document.getElementById('use-image').onchange = function handleImage(e) {
                            var reader = new FileReader();
                            reader.onload = function(event){
                                var imgObj = new Image();
                                imgObj.src = event.target.result;
                                imgObj.onload = function(){
                                    var image = new fabric.Image(imgObj);
                                    image.set({
                                        left:10,
                                        top:10,
                                    });
                                
                                    canvas.add(image);
                                }
                            }
                            reader.readAsDataURL(e.target.files[0]);
                        }; 

                        document.getElementById('bg-image').onchange = function handleImage(e) {
                            var reader = new FileReader();
                            reader.onload = function(event){
                                var imgObj = new Image();
                                imgObj.src = event.target.result;
                                imgObj.onload = function(){
                                    var image = new fabric.Image(imgObj);
                                    image.set({
                                        left:10,
                                        top:10,
                                    });
                                    document.getElementById('canvasDiv').setAttribute("style","width:" + image.getWidth() + "px;Height:" + image.getHeight() + "px");
                                    canvas.setWidth(image.getWidth());
                                    canvas.setHeight(image.getHeight());
                                    canvas.setBackgroundImage(image, canvas.renderAll.bind(canvas), {
                                        originX: 0,
                                        originY: 0
                                    });                                
                                }
                            }
                            reader.readAsDataURL(e.target.files[0]);
                        }; 
                        
                        document.getElementById('draw-table').onclick = function() {
                            var tn = $('#tableNumber').val();

                            canvas.add(new Table(tn, {
                                fontFamily: 'arial black',
                                left: 50,
                                top: 50, 
                            }));
                        }; 
                        
                        
                        document.getElementById('reset').onclick = function() {
                            var r = confirm("Are you sure you would like to reset?\nWarning! This WILL delete all information and make your data unrecoverable.");
                            if(r == false) return false;
                            canvas.forEachObject(function(obj){
                                canvas.remove(obj);
                            });
                        };
                        
                        document.getElementById('save').onclick = function() {
                            var output = JSON.stringify(canvas.toDatalessJSON());
                            //#TODO save output to disk
                            console.log(output);
                        }; 
                                               
                        document.getElementById('load').onclick = function() {
                            //#TODO load output from disk
                            var input = "";
                            canvas.loadFromJSON(input);
                        
                        };                        

                        document.getElementById('move-forward').onclick = function() {
                            canvas.getActiveObject().bringToFront();
                        };
                        
                        document.getElementById('move-back').onclick = function() {
                            canvas.getActiveObject().sendToBack();
                        };
                        
                        document.getElementById('NormalMap').onclick = function() {
                            document.getElementById('RainMap').checked = !this.checked; 
                        };
                        document.getElementById('RainMap').onclick = function() {
                            document.getElementById('NormalMap').checked = !this.checked; 
                        };
                        
                        })();
                    </script>
                   </div>
{% endblock %}
