{% extends "layout.html" %}
{% block content %}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

    <div>
	                <div style="background: #f5f2f0; float:right">
	                  <p>
	                    <label>
	                        <code>Tools/Objects</code>
	                    </label>
	                  </p>
                      <p>
                        <code>Add Image...</code>  
                        <input type="file" id="use-image" name="image" value="useImage">
                        </input> 
                      </p>
                      <p>
                        <button type="button" id="draw-table" name="table" value="drawTable">
                            <code>Add Table</code>    
                        </button> 
                        Table #: <input type="text" id="tableNumber" name="tableNumber">
                      </p>
                      <p>
                        <button type="button" id="reset" name="Reset" value="reset">
                            <code>Reset</code>    
                        </button> 
                      </p>
                      <p>
                        <button type="button" id="save" name="Save" value="save">
                            <code>Save</code>    
                        </button> 
                      </p>
                      <p>
                        <button type="button" id="load" name="Load" value="load">
                            <code>Load</code>    
                        </button> 
                      </p>
                      <p>
                        <button type="button" id="delete" name="delete-active" value="delete">
                            <code>Delete Selected Object</code>    
                        </button> 
                      </p>
                       <p>
                        <code>Background Image...</code>  
                        <input type="file" id="bg-image" name="bgImage" value="bgImage">
                        </input> 
                      </p>
                      <p>
                        <button type="button" id="move-back"name="MoveBack" value="back">
                            <code>Move Selected Object back</code>    
                        </button> 
                      </p>
                      <p>
                        <button type="button" id="move-forward" name="MoveForward" value="front">
                            <code>Move Selected Object to Front</code>    
                        </button> 
                      </p>
                      <p>
                        <label>
                          <input id="NormalMap" type="checkbox" checked>
                          <code>Normal Map</code>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input id="RainMap" type="checkbox">
                          <code>Rain Map</code>
                        </label>
                      </p>
                    </div>

                    <div id="canvasDiv" style="width: 500px; height: 400px; position: relative;">
	                   <canvas id="canvas" width="500" height="400" style="border:1px solid #000000; float=left;"></canvas>
	                </div>
                    <p id="normalMapSerialized" style="display:none">
                        {{ normalSerialized }}
                    </p>
                    <p id="rainMapSerialized" style="display:none">
                        {{ rainSerialized }}
                    </p>
                    <p id="whichMap" style="display:none">
                        {{ whichMap}}
                    </p>
	                
	                
                    <script id="main">(function(){
                        var canvas = new fabric.Canvas('canvas');

                        document.onkeydown = onKeyDownHandler;
                        
                        function onKeyDownHandler(event){
                            var key;
                            if(window.event){
                                key = window.event.keyCode;
                            }
                            else{
                                key = event.keyCode;
                            }
                            
                            if(key == 46 || 8){
                                canvas.remove(canvas.getActiveObject());
                            }
                        }
                        
                        fabric.Table = fabric.util.createClass(fabric.IText, {
                        
                            type: 'table',
                            left: 50,
                            top: 50,
                            
                            initialize: function(options) {
                                options || (options = {});
                                this.callSuper('initialize',options);
                                if (arguments.length > 2){
                                this.set('left', arguments[1]);
                                this.set('top', arguments[2]);
                            }
                            },

                            toObject: function() {
                                return fabric.util.object.extend(this.callSuper('toObject'), {
                                    left: this.get('left'),
                                    top: this.get('top')
                                });
                            },
                
                            _render: function(ctx) {
                                this.callSuper('_render',ctx);
                                ctx.rect(-this.width/2, -this.height/2, this.width, this.height);
                                ctx.stroke();
                            }
                        
                        });

                            fabric.Table.fromObject = function(object, callback) {
                        var tbl =new fabric.Table(object.text, object.left, object.top, object);
                            tbl.left = object.left;
                            tbl.top = object.top;
                            return tbl;
                        };
                        
                        canvas.selectionColor = 'rgba(0,255,0,0.3)';
                        canvas.selectionBorderColor = 'red';
                        canvas.selectionLineWidth = 5;
                        
                        document.getElementById('use-image').onchange = function handleImage(e) {
                            var reader = new FileReader();
                            reader.onload = function(event){
                                var imgObj = new Image();
                                imgObj.src = event.target.result;
                                imgObj.onload = function(){
                                    var image = new fabric.Image(imgObj);
                                    image.set({
                                        left:10,
                                        top:10,
                                    });
                                
                                    canvas.add(image);
                                }
                            }
                            reader.readAsDataURL(e.target.files[0]);
                        }; 
                        
                        document.getElementById('delete').onclick = function() {
                                canvas.remove(canvas.getActiveObject());
                        };
                        
                        document.getElementById('bg-image').onchange = function handleImage(e) {
                            var reader = new FileReader();
                            reader.onload = function(event){
                                var imgObj = new Image();
                                imgObj.src = event.target.result;
                                imgObj.onload = function(){
                                    var image = new fabric.Image(imgObj);
                                    image.set({
                                        left:10,
                                        top:10,
                                    });
                                    document.getElementById('canvasDiv').setAttribute("style","width:" + image.getWidth() + "px;Height:" + image.getHeight() + "px");
                                    canvas.setWidth(image.getWidth());
                                    canvas.setHeight(image.getHeight());
                                    canvas.setBackgroundImage(image, canvas.renderAll.bind(canvas), {
                                        originX: 0,
                                        originY: 0
                                    });                                
                                }
                            }
                            reader.readAsDataURL(e.target.files[0]);
                        }; 
                        
                        document.getElementById('draw-table').onclick = function() {
                            var tn = $('#tableNumber').val();

                            canvas.add(new fabric.Table(tn, {
                                fontFamily: 'arial black',
                                left: 50,
                                top: 50, 
                            }));
                        }; 
                        
                        
                        document.getElementById('reset').onclick = function() {
                            var r = confirm("Are you sure you would like to reset?\nWarning! This WILL delete all unsaved changes and make your data unrecoverable.");
                            if(r == false) return false;
                            canvas.forEachObject(function(obj){
                                canvas.remove(obj);
                            });
                        };
                        
                        document.getElementById('save').onclick = function() {
                            var serialized = JSON.stringify(canvas);
                            var mapType = "normalMap";
                            if (document.getElementById("RainMap").checked)
                                mapType = "rainMap";
                            var r = confirm("Are you sure you want to overwrite the currently saved " + mapType + "?");
                            if (!r)
                                return false;

                            if (mapType == "normalMap")
                                $.post( $SCRIPT_ROOT + '/map', { normalMap: serialized }, "json" );
                            else
                                $.post( $SCRIPT_ROOT + '/map', { rainMap: serialized } );
                 
                            console.log(serialized);
                        }; 
                                               
                        document.getElementById('load').onclick = function() {
                            var mapType = "NormalMap";
                            if (document.getElementById("RainMap").checked) 
                                mapType = "RainMap";
                            var r = confirm("Are you sure you want to load the " + mapType + "? All unsaved changes will be lost!");

                            if (!r)
                                return false;

                            var serialized = ""
                            if (mapType == "NormalMap")
                                serialized = $.get( $SCRIPT_ROOT + '/map', { normalMap: "a" }, function(data) {canvas.loadFromJSON(data,canvas.renderAll.bind(canvas)); alert("Map Loaded");},"text" );
                            else
                                $.get( $SCRIPT_ROOT + '/map', { rainMap: "a" }, function(data) {canvas.loadFromJSON(data,canvas.renderAll.bind(canvas)); alert("Map Loaded");},"text" );
                        };                        

                        document.getElementById('move-forward').onclick = function() {
                            canvas.getActiveObject().bringToFront();
                        };
                        
                        document.getElementById('move-back').onclick = function() {
                            canvas.getActiveObject().sendToBack();
                        };
                        
                        document.getElementById('NormalMap').onclick = function() {
                            document.getElementById('RainMap').checked = !this.checked; 
                        };
                        document.getElementById('RainMap').onclick = function() {
                            document.getElementById('NormalMap').checked = !this.checked; 
                        };
                        
                        })();
                    </script>
                   </div>
{% endblock %}
