{% extends "layout.html" %}
{% block content %}
<div id="Tablecontainer">
  <div class="table-responsive">
    <table class="table table-striped table-hover" >  
      <thead>  
        <tr>  
          <th>Favorite</th>
          <th>Delete</th>
          <th>Project Name</th>  
          <!-- <th>Project Description</th>   -->
          <th>Table</th>  
          <!-- <th>Major</th> -->  
        </tr>  
      </thead>  
      <tbody>  
       {% for entry in entries %}

       <tr class='clickableRow' href='/projectdetails/{{ entry[1] }}'>  
        <td><div id="{{entry[0]}}" class="markProjButton"></div>
          <div id="EditProjForm" class="EditProjForm" title="Edit Project Team Info" >
          <form name="projEditForm" action="{{ url_for('projects') }}" method=post>
            <input type="hidden" name="type" value = "EP">
            <textarea rows="7" cols="100" name="editProj" id="editProj" required></textarea>
            <input type="submit" value="Edit">
          </form>
          </div>
        </td>
        <td><div id="delete{{entry[0]}}" class="deleteButton deleteProjButton"></div>
          <div id="DeleteProjForm" class="DeleteProjForm" title="Delete Project Team Info" >
          <form name="projDelForm" action="{{ url_for('projects') }}" method=post>
            <input type="hidden" name="type" value = "DP">
            <input type="hidden" id = "delProj" name="del" value="">
            <p id="pLabel"></p>
            <input type="submit" value="Delete">
          </form>
          </div>
        </td>
        <td>{{ entry[0].projectName }}</td>  
        <!-- <td>{{ entry[0].projectDescription }}</td> --> 
        <td>{{ entry[0].table }}</td> 
        <!-- <td>{{ entry[0].projectMajor }}</td> -->  
        <td><i class="icon-chevron-right"></i></td>
      </tr>  
      {% endfor %}
    </tbody>  
  </table>  
</div>
</div>
{% endblock %}
