{% extends "layout.html" %}
{% block content %}

<div id="Schedulecontainer">
  <h4>The upcoming Expo is on April 24th at the <a href="http://www.gtmccamishpavilion.com/" target="_blank"> McCamish Pavilion </a> at Georgia Tech.</h4>
  <div class="table-responsive">
    <table class="table table-bordered" >  
      <tbody id="schedule">  
		{{schedule|safe}}     
          </tbody>  
        </table> <div class="editButton editSchButton" id="editSchButton"></div> 
	<div id="EditSchForm" class="EditSchForm" title="Edit Schedule" >
		<form name="schEditForm" action="{{ url_for('schedule') }}" method=post>
			<input type="hidden" name="type" value = "Sch">
			<textarea rows="7" cols="100" name="editSchTip" id="editSchTip" required></textarea>
			<input type="submit" value="Edit">
		</form>
	</div>
      </div><!-- ./table-responsive -->
      <h4>Day-of-Bus Schedule</h4>
      <div class="table-responsive">
        <table class="table table-bordered" >  
          <tbody id="busSchedule">  
		{{busSchedule|safe}}
          </tbody>  
        </table>  <div class="editButton editBusSchButton" id="editBusSchButton"></div>
	<div id="EditBusSchForm" class="EditBusSchForm" title="Edit Bus Schedule" >
		<form name="busSchEditForm" action="{{ url_for('schedule') }}" method=post>
			<input type="hidden" name="type" value = "busSch">
			<textarea rows="7" cols="100" name="editBusSchTip" id="editBusSchTip" required></textarea>
			<input type="submit" value="Edit">
		</form>
	</div>
      </div><!-- ./table-responsive -->
      <h4 ><div id="schEnds">
 	{{schEnd|safe}}</div>
	</h4><div class="editButton editSchEndButton" id="editSchEndButton"></div>
	<div id="EditSchEndForm" class="EditSchEndForm" title="Edit end of Schedule page Remarks" >
		<form name="endSchEditForm" action="{{ url_for('schedule') }}" method=post>
			<input type="hidden" name="type" value = "endSch">
			<textarea rows="7" cols="100" name="editEndSchTip" id="editEndSchTip" required></textarea>
			<input type="submit" value="Edit">
		</form>
	</div>
    </div><!-- ./tablecontainer -->  
  {% endblock %}
