{% extends "layout.html" %}
{% block content %}
<!--This page was created by the old team and does some convoluted stuff.-->
<!--It loads the section and majors from the database and then populates the form using a mixtur of data from the DB as well as static code.-->

    <script>
    
    function setupTeamMembers(eraseValues){
        
        TMNames = new Array(10);
        TMNameLabels = new Array(10);
        TMMajors = new Array(10);
        TMMajorLabels = new Array(10);
        TMShirts = new Array(10);
        TMShirtLabels = new Array(10);
        
        numTeamMembers = parseInt(document.getElementById("teamMemberCount").value);
        
        for (i=1; i<=10; i++){
            TMNames[i-1] = document.getElementById("TMName"+i);
            TMNameLabels[i-1] = document.getElementById("TMNameLabel"+i);
            TMMajors[i-1] = document.getElementById("TMMajor"+i);
            TMMajorLabels[i-1] = document.getElementById("TMMajorLabel"+i);
            TMShirts[i-1] = document.getElementById("TMShirt"+i);
            TMShirtLabels[i-1] = document.getElementById("TMShirtLabel"+i);
        }
        
        for (i=0; i<10; i++){
            TMNames[i].style.display = "none";
            TMNameLabels[i].style.display = "none";
            TMMajors[i].style.display = "none";
            TMMajorLabels[i].style.display = "none";
            TMShirts[i].style.display = "none";
            TMShirtLabels[i].style.display = "none";
        }
        
        for (i=0; i<numTeamMembers; i++){
            if (eraseValues && TMNames[i].value=="_"){
                TMNames[i].value = "";
                TMMajors[i].value = "";
                TMShirts[i].value = "";
            }
            TMNames[i].style.display = "block";
            TMNameLabels[i].style.display = "block";
            TMMajors[i].style.display = "block";
            TMMajorLabels[i].style.display = "block";
            TMShirts[i].style.display = "block";
            TMShirtLabels[i].style.display = "block";
        }

        for (i=numTeamMembers; i<10; i++){
            TMNames[i].value = "_";
            TMMajors[i].value = "ae";
            TMShirts[i].value = "S";
        }
        
    }
    
    function showSectionSelections(){
        major = document.getElementById("teamProjectMajor");
        section = document.getElementById("teamSection");
        m = major.value;
        if (m=="interdisciplinary"){
            m = "mixed";
            section.options[0].selected = true;
        }
        else section.options[1].selected = true;
        for (i=0; i<section.length; i++){
            if (m=="mixed" && section.options[i].value.slice(0,5)=="mixed"){
                        section.options[i].selected = true;
            }
            else if (section.options[i].value.slice(0,2)=="un"){
                sections.options[i].selected = true;
                sections.options[i].disable = false;
                continue;
            }
            match = (section.options[i].value.slice(0,m.length)!=m);
            section.options[i].disabled = match;
			if (m=="mixed" && section.options[i].value.slice(0,"gt".length)=="gt") section.options[i].disabled = false;
        }
        //section.options[1].disabled = false;
    }
    
    </script>
    <div id="jumbo">
        <h2>Please fill out all the information below.</h2>
        <h3><strong>Be careful to avoid typos - you will not be able to edit this information later.</strong></h3>
    </div>
    {% if success %}
        <div class="goodflash"><p>Thank you for registering for the expo! Your team's information has been successfully recorded.</p></div>
    {% endif %}

    {% for field in form %}
        {% for error in field.errors %}
            <div class="flash">{{ error }}</div>
        {% endfor %}
    {% endfor %}
    
    <form action="{{ url_for('home') }}" method=post style="padding-left:10px">
        
        {{ form.csrf_token }}       
        {{ form.teamName.label }}
        {{ form.teamName }}

        {{ form.teamProjectName.label }}
        {{ form.teamProjectName }}

        {{ form.teamMemberCount.label }}
        {{ form.teamMemberCount(onchange="setupTeamMembers(true);") }}

        <label>If any of your team members have more than one major, please select the major of the capstone class in which you are enrolled.</label>
        
        <table style="border-spacing: 30px 0px">
        <tr><td>
        {{ form.TMName1.label(style="display:none", id="TMNameLabel1") }}
        </td><td>
        {{ form.TMMajor1.label(style="display:none", id="TMMajorLabel1") }}
        </td><td>
        {{ form.TMShirt1.label(style="display:none", id="TMShirtLabel1") }}
        </td></tr>
        <tr><td>
        {{ form.TMName1(style="display:none") }}
        </td><td>
        {{ form.TMMajor1(style="display:none") }}
        </td><td>
        {{ form.TMShirt1(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName2.label(style="display:none", id="TMNameLabel2") }}
        </td><td>
        {{ form.TMMajor2.label(style="display:none", id="TMMajorLabel2") }}
        </td><td>
        {{ form.TMShirt2.label(style="display:none", id="TMShirtLabel2") }}
        </td></tr>
        <tr><td>
        {{ form.TMName2(style="display:none") }}
        </td><td>
        {{ form.TMMajor2(style="display:none") }}
        </td><td>
        {{ form.TMShirt2(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName3.label(style="display:none", id="TMNameLabel3") }}
        </td><td>
        {{ form.TMMajor3.label(style="display:none", id="TMMajorLabel3") }}
        </td><td>
        {{ form.TMShirt3.label(style="display:none", id="TMShirtLabel3") }}
        </td></tr>
        <tr><td>
        {{ form.TMName3(style="display:none") }}
        </td><td>
        {{ form.TMMajor3(style="display:none") }}
        </td><td>
        {{ form.TMShirt3(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName4.label(style="display:none", id="TMNameLabel4") }}
        </td><td>
        {{ form.TMMajor4.label(style="display:none", id="TMMajorLabel4") }}
        </td><td>
        {{ form.TMShirt4.label(style="display:none", id="TMShirtLabel4") }}
        </td></tr>
        <tr><td>
        {{ form.TMName4(style="display:none") }}
        </td><td>
        {{ form.TMMajor4(style="display:none") }}
        </td><td>
        {{ form.TMShirt4(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName5.label(style="display:none", id="TMNameLabel5") }}
        </td><td>
        {{ form.TMMajor5.label(style="display:none", id="TMMajorLabel5") }}
        </td><td>
        {{ form.TMShirt5.label(style="display:none", id="TMShirtLabel5") }}
        </td></tr>
        <tr><td>
        {{ form.TMName5(style="display:none") }}
        </td><td>
        {{ form.TMMajor5(style="display:none") }}
        </td><td>
        {{ form.TMShirt5(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName6.label(style="display:none", id="TMNameLabel6") }}
        </td><td>
        {{ form.TMMajor6.label(style="display:none", id="TMMajorLabel6") }}
        </td><td>
        {{ form.TMShirt6.label(style="display:none", id="TMShirtLabel6") }}
        </td></tr>
        <tr><td>
        {{ form.TMName6(style="display:none") }}
        </td><td>
        {{ form.TMMajor6(style="display:none") }}
        </td><td>
        {{ form.TMShirt6(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName7.label(style="display:none", id="TMNameLabel7") }}
        </td><td>
        {{ form.TMMajor7.label(style="display:none", id="TMMajorLabel7") }}
        </td><td>
        {{ form.TMShirt7.label(style="display:none", id="TMShirtLabel7") }}
        </td></tr>
        <tr><td>
        {{ form.TMName7(style="display:none") }}
        </td><td>
        {{ form.TMMajor7(style="display:none") }}
        </td><td>
        {{ form.TMShirt7(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName8.label(style="display:none", id="TMNameLabel8") }}
        </td><td>
        {{ form.TMMajor8.label(style="display:none", id="TMMajorLabel8") }}
        </td><td>
        {{ form.TMShirt8.label(style="display:none", id="TMShirtLabel8") }}
        </td></tr>
        <tr><td>
        {{ form.TMName8(style="display:none") }}
        </td><td>
        {{ form.TMMajor8(style="display:none") }}
        </td><td>
        {{ form.TMShirt8(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName9.label(style="display:none", id="TMNameLabel9") }}
        </td><td>
        {{ form.TMMajor9.label(style="display:none", id="TMMajorLabel9") }}
        </td><td>
        {{ form.TMShirt9.label(style="display:none", id="TMShirtLabel9") }}
        </td></tr>
        <tr><td>
        {{ form.TMName9(style="display:none") }}
        </td><td>
        {{ form.TMMajor9(style="display:none") }}
        </td><td>
        {{ form.TMShirt9(style="display:none") }}
        </td></tr>
        
        <tr><td>
        {{ form.TMName10.label(style="display:none", id="TMNameLabel10") }}
        </td><td>
        {{ form.TMMajor10.label(style="display:none", id="TMMajorLabel10") }}
        </td><td>
        {{ form.TMShirt10.label(style="display:none", id="TMShirtLabel10") }}
        </td></tr>
        <tr><td>
        {{ form.TMName10(style="display:none") }}
        </td><td>
        {{ form.TMMajor10(style="display:none") }}
        </td><td>
        {{ form.TMShirt10(style="display:none") }}
        </td></tr><tr><td></table>
        
        <script>setupTeamMembers(false);</script>
        
        {{ form.teamProjectMajor.label }}
        {{ form.teamProjectMajor(onchange="showSectionSelections();") }}

        {{ form.teamSection.label }}
        {{ form.teamSection }}
        
        <script>showSectionSelections();</script>
        
        {{ form.teamSponsor.label }}
        {{ form.teamSponsor }}
    
        {{ form.teamNeedsPower.label }}
        {{ form.teamNeedsPower }}

        {{ form.teamHasDisplay.label }}
        {{ form.teamHasDisplay }}

        {{ form.teamHasDanger.label }}
        {{ form.teamHasDanger }}

        {{ form.teamSetup.label }}
        {{ form.teamSetup }}

        {{ form.teamProjectDescription.label }}
        {{ form.teamProjectDescription }}

        {{ form.teamEmail.label }}
        {{ form.teamEmail }}

        {{ form.teamSetupTime.label }}
        {{ form.teamSetupTime }}

        <br><br>
        {{ form.submit }}
    </form>

    <h4>If you have questions about this form, please contact Mason Hollandbeck at <a href="mailto:mason.hollandbeck@me.gatech.edu">mason.hollandbeck@me.gatech.edu</a></h4>
{% endblock %}
