{% extends "layout.html" %}
{% block content %}

<div id="Tablecontainer">
  <div class="table-responsive">
    <table class="table table-striped table-hover" >  
      <thead>  
        <tr>  
	  <th> Favorites</th>
          <th>Project Name</th>  
          <!-- <th>Project Description</th>   -->
          <th>Table</th>  
          <!-- <th>Major</th> -->  
        </tr>  
      </thead>  
      <tbody>  
       {% for entry in entries %}

       <tr >  
	<td>
	{% if ((entry[0].table is not None) and (entry[0].table.strip() in favs))%}
	<img src="{{url_for('static', filename="img/favicon.ico")}}" id="{{entry[0].table}}" class="favoriteOn" onclick="favoriteFunc(this.id)" onload="favCheck(this.id);">
	{% else %}
	<img src="{{url_for('static', filename="img/favOff.ico")}}" id="{{entry[0].table}}" class="favoriteOff" onclick="favoriteFunc(this.id)" onload="favCheck(this.id);">
	{% endif %}
	</td>
        <td class='clickableRow' href='/projectdetails/{{ entry[1] }}'>{{ entry[0].projectName }}</td>  
        <!-- <td>{{ entry[0].projectDescription }}</td> --> 
        <td class='clickableRow' href='/projectdetails/{{ entry[1] }}'>{{ entry[0].table }}</td> 
        <!-- <td>{{ entry[0].projectMajor }}</td> -->  
        <td class='clickableRow' href='/projectdetails/{{ entry[1] }}'><i class="icon-chevron-right"></i></td>
      </tr>  
      {% endfor %}
    </tbody>  
  </table>  
</div>
</div>

{% endblock %}
