{% extends "layout.html" %}
{% block content %}
<!--Dynamically loads the schedule from the database based on what the admin edited it to be.-->
<div id="Schedulecontainer">
  <h4>The upcoming Expo is on April 24th at the <a href="http://www.gtmccamishpavilion.com/" target="_blank"> McCamish Pavilion </a> at Georgia Tech.</h4>
  <div class="table-responsive">
    <table class="table table-bordered" >  
      <tbody>  
        {{schedule|safe}}     
          </tbody>  
        </table>  
      </div><!-- ./table-responsive -->
      <h4>Day-of-Bus Schedule</h4>
      <div class="table-responsive">
        <table class="table table-bordered" >  
          <tbody>  
            {{busSchedule|safe}}
          </tbody>  
        </table>  
      </div><!-- ./table-responsive -->
      <h4>{{schEnd|safe}}</h4>
    </div><!-- ./tablecontainer -->  
  {% endblock %}
