{% extends "layout.html" %}
{% block container %}
		<div id="divTips">
			<h3><p class="plusTips">+ </p><p class="minusTips">- </p>Tips for Judges</h3>
			<div id="divJudges">
			
			<ul class="ulTips" id="tipsJudges">

			{% for jtip in jTips %}
				<li>{{jtip[0]|safe}}
				</li>

			{% endfor %}
			</ul><br><br></div>
			<h3><p class="plusTips">+ </p><p class="minusTips">- </p>Tips for Students  </h3>
			<div id="divStudents">

			<ul class="ulTips" id="tipsStudents">
			{% for stip in sTips %}
				<li > {{stip[0]|safe}}
				</li>

			{% endfor %}
			</ul><br><br></div>
			<h3><p class="plusTips">+ </p><p class="minusTips">- </p>Tips for Visitors </h3>
			<div id="divVisitors">
			<ul class="ulTips" id="tipsVisitors">

			{% for vtip in vTips %}
				<li > {{vtip[0]|safe}}
				</li>

			{% endfor %}
			</ul><br><br></div>
		</div>
{% endblock %}
