{% extends "layout.html" %}
{% block container %}
		<div id="divTips">
			<h3><p class="plusTips">+ </p><p class="minusTips">- </p>Tips for Judges</h3>
			<div id="divJudges"><ul class="ulTips" id="tipsJudges"></ul></div>
			<h3><p class="plusTips">+ </p><p class="minusTips">- </p>Tips for Students</h3>
			<div id="divStudents"><ul class="ulTips" id="tipsStudents"></ul></div>
			<h3><p class="plusTips">+ </p><p class="minusTips">- </p>Tips for Visitors</h3>
			<div id="divVisitors"><ul class="ulTips" id="tipsVisitors"></ul></div>
		</div>
{% endblock %}